body {
    background: url(../images/body.gif) #ebebeb;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #666666;
    font-size: 14px;
    line-height: 24px;
}

a {
    color: #6a9e2e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.first-p {
    margin-top: 0;
}

.last-p {
    margin-bottom: 0;
}

.code {
    background: #ebebeb;
    border: 1px solid #cccccc;
    padding: 10px;
    font-size: 10px;
    color: #333333;
}

#wrapper {
    width: 500px;
    margin: 20px auto;
}

#header {
    padding: 5px 20px;
    background: #333333;
    color: #cccccc;
    position: relative;
    margin: 0 0 20px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#header h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: normal;
}

#header p {
    margin: 0;
    font-weight: bold;
}