/*WHOLE PAGE*/
html, body
{
    height: 100%;
}
body
{
    margin: 0;
    padding: 0;
    background-image:url("../images/bodyBackground.png");
    background-repeat:repeat;
    font-family: Verdana;
    color: white;
    border: 0;
    outline: 0;
    line-height: 1;
}

#snakeCanvas
{
    border-style: solid;
    color: black;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

#wrap
{
    min-height: 100%;
    margin: 0;
    padding: 0;
}
img
{
    border-width: 0px;
    border-style: none;
}

ul
{
    margin:0;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

li
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

a, a:hover, a:visited
{
    color: #E0E0E0;
    text-decoration: none;
}
a img
{
    border:none;
}

/* HEADER */

#headerContainer
{
    width: 100%;
    height: 61px;
    background-image: url(../images/headerBackground.png);
    min-width: 810px;
}

/* MENU */

#headerContainer #menuContainer
{

}

#menuContainer ul li
{
    display: inline;
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;
}

#menuContainer #menu li a
{
    float: left;
    height: 61px;
    overflow: hidden;
    outline: none !important;
    background-image: url('../images/mainMenu.png');
    background-repeat: no-repeat;
    text-decoration: none;
}

.appContainer
{
    width: 730px;
    height: 350px;
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
}

#menuContainer #menu .homeMenuItem a { background-position: 0px 0px; width: 96px; }
#menuContainer #menu .notesMenuItem a{ background-position: -96px 0px; width:120px;}
#menuContainer #menu .publicationsMenuItem a { background-position: -216px 0px; width:180px; }
#menuContainer #menu .appMenuItem a { background-position: -396px 0px; width:120px; }
#menuContainer #menu .aboutMenuItem a { background-position: -517px 0px; width:120px; }

#menuContainer #menu .homeMenuItem a:hover { background-position: 0px -61px; }
#menuContainer #menu .notesMenuItem a:hover{ background-position: -96px -61px;}
#menuContainer #menu .publicationsMenuItem a:hover { background-position: -216px -61px;}
#menuContainer #menu .appMenuItem a:hover { background-position: -396px -61px;}
#menuContainer #menu .aboutMenuItem a:hover { background-position: -517px -61px;}

#menuContainer #menu .homeMenuItem a:active, #menuContainer #menu .homeMenuItemActive a  { background-position: 0px -122px; width: 96px;}
#menuContainer #menu .notesMenuItem a:active, #menuContainer #menu .notesMenuItemActive a{ background-position: -96px -122px; width: 120px;}
#menuContainer #menu .publicationsMenuItem a:active, #menuContainer #menu .publicationsMenuItemActive a { background-position: -216px -122px; width:180px; }
#menuContainer #menu .appMenuItem a:active, #menuContainer #menu .appMenuItemActive a  { background-position: -396px -122px; width:120px;}
#menuContainer #menu .aboutMenuItem a:active, #menuContainer #menu .aboutMenuItemActive a { background-position: -517px -122px; width:120px; }
/* END MENU */

#headerContainer>#breadcrumbContainer
{
    float: right;
    width: 300px;
    height: 30px;
    margin: 29px 40px 0px 0px;
}

/* END HEADER */


/* CENTRAL CONTAINER */

#centralContainer
{
    width:1024px;
    background-image: url(../images/content-container-background.png);
    background-repeat: repeat-y;
    margin: 0 auto;
    display: table;
    overflow:auto;
    padding-bottom: 35px;
    height: 100%;
}

#commercialSelectorContainer
{
    width: 70px;
    height: 25px;
    float: right;
}

#commercialSelectorContainer a
{
    background-image: url('../images/billboard-pager.png');
    width: 20px;
    height: 20px;
    display: block;
    outline: none;
    text-decoration: none;
}

#commercialSelectorContainer a:hover {
    background-position: 0px -20px;
}

#centralContainer #titleContainer
{
    width: 100%;
    margin-left: 10px;
}

#commercialSelectorContainer .active {
    background-position: 0px -41px;
}

/* CENTRAL CONTENT CONTAINER */
#centralContainer>#centralContentContainer
{
    float: left;
    width:760px;
}
/* END CENTRAL CONTENT CONTAINER */

/* SIDEBAR CONTENT CONTAINER */
#centralContainer>#sidebarContentContainer
{
    float: left;
}

#commercialImage
{
    margin-left: 23px;
}

.sideContainer
{
    float: right;
    width: 215px;
    margin-top: 5px;
    display: block;
    color: #E0E0E0;
}

.sideContainerTop
{
    background-image: url('../images/sidebox-top.png');
    width: 246px;
    height: 39px;
    vertical-align: top;
}

.sideContainerTop h4
{
    margin-left: 18px;
    margin-top: 2px;
    padding-top: 10px;
}


.sideContainerMiddle
{
    background-image: url("../images/sidebox-middle.png");
    width: 246px;
    background-repeat: repeat-y;
}

.sideContainerMiddle ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.sideContainerMiddle ul li
{
    margin-left: 26px;
    margin-right: 26px;
    border-bottom-color: rgb(27,30,32);
    border-bottom-style: solid;
    border-bottom-width: 1pt;
}

.sideItem a
{
    color: #E0E0E0;
    text-decoration: none;
    font-size: 12pt;
}

.sideItem a:visited
{
    color: #E0E0E0;
}

.sideItem .descriptionContainer
{
    vertical-align: middle;
}

.sideDescription
{
}

.sideDescription .description
{
    font-size: 8pt;
}

.sideContainerBottom
{
    background-image: url('../images/sidebox-bottom.png');
    background-repeat:no-repeat;
    width: 246px;
    height: 26px;
}

/* END SIDEBAR CONTENT CONTAINER */

/* END CENTRAL CONTAINER */

/* FOOTER CONTAINER */
#footerContainer
{
    border-color: #586273;
    border-top-width:1px;
    border-top-style:solid;
    background-color: #474D56;
    height: 36px;
    position: relative;
    margin-top:-37px;
    clear:both;
}

#footerContainer p
{
    margin: 10px;
}
/* END FOOTER CONTAINER*/

/* START APPS */
#appsContent
{
    margin:10px;
}

h2
{
    color: rgb(224,224,224);
}

ul
{
    margin:0px;
    padding:0px;
}

.fbar
{
    width:2px;
    background:url(../images/slideshow/divider.png) no-repeat right;
}

a img
{
    border:none;
}

/* SIDE CONTAINER TABS */
.sideContainer
{
    color: #E0E0E0;
}
.sideContainer .tabs
{
    position: relative;
    min-height: 150px; /* This part sucks */
    clear: both;
    margin: 25px 0;
    min-width: 246px;
    background-color: rgb(52, 57, 66);
}
.sideContainer .tab {
    float: left;
}
.sideContainer .tab label {
    background-color: rgb(21, 26, 38);
    padding: 10px;
    border: 1px solid rgb(113, 113, 116);
    margin-left: -1px;
    position: relative;
    left: 1px;
    cursor: pointer;
}
.sideContainer .tab [type=radio] { display: none; }
.sideContainer .content {
    position: absolute;
    top: 28px;
    left: 0;
    background-color:  rgb(33, 44, 64);
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid rgb(113, 113, 116);
    color: #E0E0E0;
}
.sideContainer [type=radio]:checked ~ label {
    background-color: rgb(33, 44, 64);
    border-bottom: 1px solid rgb(113, 113, 116);
    z-index: 2;
}
.sideContainer [type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

#ticTacToeTable
{
    width: 400px;
    height: 300px;
    table-layout: fixed;
    margin-left: 150px;
    padding-top: 15px;
}

#ticTacToeTable td { width: 33%; height: 33%; text-align: center}
#ticTacToeTable img { width: 80px;}

#ticTacToeTable .bottomBorder
{
    border-bottom-style: solid;
    cursor: pointer;
}

#ticTacToeTable .leftBorder
{
    border-left-style: solid;
}

#ticTacToeTable .rightBorder
{
    border-right-style: solid;
}

#ticTacToeTable .topBorder
{
    border-right-style: solid;
}