/*WHOLE PAGE*/
html, body
{
    height: 100%;
}
body
{
    margin: 0;
    padding: 0;
    background-image:url("../images/bodyBackground.png");
    background-repeat:repeat;
    font-family: Verdana;
    color: white;
    border: 0;
    outline: 0;
    line-height: 1;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

#wrap
{
    min-height: 100%;
    margin: 0;
    padding: 0;
}
img
{
    border-width: 0px;
    border-style: none;
}

ul
{
    margin:0;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

li
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

a, a:hover, a:visited
{
    color: #E0E0E0;
    text-decoration: none;
}
a img
{
    border:none;
}

/* HEADER */

#headerContainer
{
    width: 100%;
    height: 61px;
    background-image: url(../images/headerBackground.png);
    min-width: 810px;
}

/* MENU */

#headerContainer #menuContainer
{

}

#menuContainer ul li
{
    display: inline;
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;
}

#menuContainer #menu li a
{
    float: left;
    height: 61px;
    overflow: hidden;
    outline: none !important;
    background-image: url('../images/mainMenu.png');
    background-repeat: no-repeat;
    text-decoration: none;
}

#menuContainer #menu .homeMenuItem a { background-position: 0px 0px; width: 96px; }
#menuContainer #menu .notesMenuItem a{ background-position: -96px 0px; width:120px;}
#menuContainer #menu .publicationsMenuItem a { background-position: -216px 0px; width:180px; }
#menuContainer #menu .appMenuItem a { background-position: -396px 0px; width:120px; }
#menuContainer #menu .aboutMenuItem a { background-position: -517px 0px; width:120px; }

#menuContainer #menu .homeMenuItem a:hover { background-position: 0px -61px; }
#menuContainer #menu .notesMenuItem a:hover{ background-position: -96px -61px;}
#menuContainer #menu .publicationsMenuItem a:hover { background-position: -216px -61px;}
#menuContainer #menu .appMenuItem a:hover { background-position: -396px -61px;}
#menuContainer #menu .aboutMenuItem a:hover { background-position: -517px -61px;}

#menuContainer #menu .homeMenuItem a:active, #menuContainer #menu .homeMenuItemActive a  { background-position: 0px -122px; width: 96px;}
#menuContainer #menu .notesMenuItem a:active, #menuContainer #menu .notesMenuItemActive a{ background-position: -96px -122px; width: 120px;}
#menuContainer #menu .publicationsMenuItem a:active, #menuContainer #menu .publicationsMenuItemActive a { background-position: -216px -122px; width:180px; }
#menuContainer #menu .appMenuItem a:active, #menuContainer #menu .appMenuItemActive a  { background-position: -396px -122px; width:120px;}
#menuContainer #menu .aboutMenuItem a:active, #menuContainer #menu .aboutMenuItemActive a { background-position: -517px -122px; width:120px; }
/* END MENU */

#headerContainer>#breadcrumbContainer
{
    float: right;
    width: 300px;
    height: 30px;
    margin: 29px 40px 0px 0px;
}

/* END HEADER */


/* CENTRAL CONTAINER */

#centralContainer
{
    width:1024px;
    background-image: url(../images/content-container-background.png);
    background-repeat: repeat-y;
    margin: 0 auto;
    display: table;
    overflow:auto;
    padding-bottom: 35px;
    height: 100%;
}

#centralContainer #titleContainer
{
    width: 100%;
    margin-left: 10px;
}

/* CENTRAL CONTENT CONTAINER */
#centralContainer>#centralContentContainer
{
    float: left;
    width:760px;
}
/* END CENTRAL CONTENT CONTAINER */

/* SIDEBAR CONTENT CONTAINER */
#centralContainer>#sidebarContentContainer
{
    float: left;
}

.sideContainer
{
    float: right;
    width: 215px;
    margin-top: 5px;
    display: block;
    color: #E0E0E0;
}

.sideContainerTop
{
    background-image: url('../images/sidebox-top.png');
    width: 246px;
    height: 39px;
    vertical-align: top;
}

.sideContainerTop h4
{
    margin-left: 18px;
    margin-top: 2px;
    padding-top: 10px;
}


.sideContainerMiddle
{
    background-image: url("../images/sidebox-middle.png");
    width: 246px;
    background-repeat: repeat-y;
}

.sideContainerMiddle ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.sideContainerMiddle ul li
{
    margin-left: 26px;
    margin-right: 26px;
    border-bottom-color: rgb(27,30,32);
    border-bottom-style: solid;
    border-bottom-width: 1pt;
}

.sideItem a
{
    color: #E0E0E0;
    text-decoration: none;
    font-size: 12pt;
}

.sideItem a:visited
{
    color: #E0E0E0;
}

.sideItem .descriptionContainer
{
    vertical-align: middle;
}

.sideDescription
{
}

.sideDescription .description
{
    font-size: 8pt;
}

.sideContainerBottom
{
    background-image: url('../images/sidebox-bottom.png');
    background-repeat:no-repeat;
    width: 246px;
    height: 26px;
}

/* END SIDEBAR CONTENT CONTAINER */

/* END CENTRAL CONTAINER */

/* FOOTER CONTAINER */
#footerContainer
{
    border-color: #586273;
    border-top-width:1px;
    border-top-style:solid;
    background-color: #474D56;
    height: 36px;
    position: relative;
    margin-top:-37px;
    clear:both;
}

#footerContainer p
{
    margin: 10px;
}
/* END FOOTER CONTAINER*/

/* START APPS */
#appsContent
{
    margin:10px;
}

.videoContainer
{
    margin: 10px 70px 10px 70px;
}

h2
{
    color: rgb(224,224,224);
}

#firecrowExampleList
{
    padding-left:5px;
}

#firecrowExampleList .imageLinkContainer
{
    margin: 10px 10px 10px 0px;
    background-image: url("../images/imageFrame.png");
    position: relative;
    height: 148px;
    width: 228px;
    float: left;
}

#firecrowExampleList .imageLinkContainer .imageLinkTitleContainer a
{
    display:table;
    margin: 7pt auto;
}

#firecrowExampleList .imageLinkContainer .imageLinkTitleContainer a:hover
{
    text-decoration: underline;
}

#firecrowExampleList .imageLinkContainer:hover
{
    cursor: pointer;
}

#firecrowExampleList .imageLinkContainer .maskImage
{
    position:absolute;
    top:0;
    left: 0;
    display:block;
}

#firecrowExampleList .imageLinkContainer .data
{
    display:none;
}


#firecrowExampleList .imageLinkContainer img
{
    margin:7px 0 0 11px;
}

.modalContent {display:none;}

#simplemodal-overlay { background-color:#000; cursor:wait; }
#simplemodal-container {background-color:#333; color:#bbb;}
#simplemodal-container a.modalCloseImg { background:url(../images/close.png) no-repeat; width:30px; height:30px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer; }
#simplemodal-container .modalContent { }

/**** MODAL GALLERY **********/

#gallery
{
    -moz-box-shadow:0 0 3px #AAAAAA;
    -webkit-box-shadow:0 0 3px #AAAAAA;
    box-shadow:0 0 3px #AAAAAA;

    -moz-border-radius-bottomleft:4px;
    -webkit-border-bottom-left-radius:4px;
    border-bottom-left-radius:4px;

    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;

    background:url(../images/slideshow/panel.jpg) repeat-x bottom center #ffffff;
    width:700px;
    overflow:hidden;
}

#slides
{
    height:400px;
    width:700px;
    overflow:hidden;
}

.slide
{
    float:left;
}

#slideMenu
{
    height:45px;
}

ul
{
    margin:0px;
    padding:0px;
}

.slideMenuItem
{
    width:60px;
    display:inline-block;
    list-style:none;
    height:45px;
    overflow:hidden;
    cursor: pointer;
    color: black;
}

.slideMenuItem.act, li.act:hover
{
    background:url(../images/slideshow/active_bg.png) no-repeat;
}

.slideMenuItem.act a
{
    cursor:default;
}

.fbar
{
    width:2px;
    background:url(../images/slideshow/divider.png) no-repeat right;
}

.slideMenuItem a
{
    display:block;
    background:url(../images/slideshow/divider.png) no-repeat right;
    height:35px;
    padding-top:10px;
    color:black;
}

.slideMenuItem a:visited
{
    color:black;
}

a img
{
    border:none;
}

#galleryContainer
{
    /* The main container */
    margin:0 auto;
    text-align:center;
    width:700px;
    height:443px;
}

#infoContainer
{
    margin:15px;
}

#paginator
{
    clear:both;
}
#paginator ul
{
    margin:0 auto;
    display:table;
}
#paginator ul li
{
    display: inline;
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;
    margin: 2px;
}

#paginator .pageNumber
{
    background-color: #181e29;
    width:35px;
    height:35px;
    display: inline-table;
    text-align: center;
}

#paginator .selected div
{
    text-decoration: underline;
}


#paginator .pageNumber:hover
{
    background-color: #1b2535;
}

#paginator .selected:hover
{
    background-color: #181e29;
}

#paginator .pageNumber div
{
    margin-top: 8px;
}

#slider
{
    width: 733px;
    height: 395px;
    background-image: url("../images/billboards-bg.png");
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#featureImageContainer
{
    width: 720px;
    height: 325px;
}
#featureImageContainer img
{
    margin: 3px;
    width: 720px;
    height: 325px;
}
#featureSelectorContainer a
{
    background-image: url("../images/billboard-pager.png");
    width: 20px;
    height: 20px;
    display: block;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
}
.featureTitle, .billboardTitle
{
    height: 20px;
    font-weight: bold;
}
.featureDescription
{
    margin-left: 10px;
    margin-top: 7px;
    width: 580px;
    padding-top:8px;
}
#featureSelectorContainer .active
{
    background-position: 0px -41px;
}
#featureSelectorContainer a:hover
{
    background-position: 0px -20px;
}
#featureSelectorContainer .active:hover
{
    background-position: 0px -41px;
}
#slider .featureTitle
{
    margin-top: 0px;
    margin-left: 10px;
}

#disclaimerBox
{
    width:707px;
    background-image:url('../images/Warning.png');
    height: 136px;
    margin-left: 5px;
}

#appsList
{
    margin-left: 5px;
}

#appsList p
{
    text-align: justify;
}

#appsList ul li
{
    border-bottom-color: white;
    border-bottom-width: thin;
    border-bottom-style: solid;
}