/*
ABOUT THIS STYLESHEET:

This is the first stylesheet called, so its styles are given the least weight. The
styles are copied from Eric Meyer's CSS reset example at http://meyerweb.com/eric/tools/css/reset/index.html

Modifications to the theme's CSS should be made through main.css in the lib/css folder.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    clear: both;
}
ol, ul {
    list-style: none;
}
blockquote {
    quotes: none;
}
blockquote:before, blockquote:after {
    content: '';
    content: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img { border: none; }