body{
  color: #fff;
  background: url(../images/wood.jpg);
  font-family: Futura, Helvetica, sans-serif;
  letter-spacing: .07em;
  }

a{
  color: #ffe4b1;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
  }

.logo{
  background: url(../images/logo.png) right 0 no-repeat;
  height: 0;
  overflow: hidden;
  padding-top: 260px;
  -webkit-transition: all .3s ease-in-out;
  opacity: .9;
  }

.logo-wt{
  background: url(../images/logo-wt.png) right 0 no-repeat;
  height: 0;
  overflow: hidden;
  padding-top: 260px;
  -webkit-transition: all .3s ease-in-out;
  opacity: .9;
  }

.logo:hover{
  opacity: 1;
  }

.floatright{
  float: right;
  }

.stripes{
  padding: 70px 0 0;
  color: #fff;
  background-color: #9ac3cc;
  background: url(../images/stripe.png) 0px 20px repeat-x, url(../images/bg.gif);
  }

.screenshot{
  height: 480px;
  }
/*
.slideshow {
  height: 460px;
  }
.slideshow img {
  height: 460px;
  }
*/
.edge{
  height: 600px;
  background: url(../images/edge.png) 0 bottom repeat-x;
  }

.iphone{
  position: absolute;
  padding: 152px 0 130px 0px;
  background: url(../images/iphone.png) 0 top no-repeat;
  }

.screenshot{
  margin-left: 32px;
  background: #333;
  width: 320px;
  top: -20px;
  }

.container_12{
  position: relative;
  }

.shadow{
  position: absolute;
  width: 590px;
  left: -88px;
  top: 674px;
  height: 100px;
  background: url(../images/shadow.png) 0 top no-repeat;
  }

p{
  margin: 30px 0 40px 0px;
  background: url(../images/small-stripe.png) 0 bottom repeat-x;
  padding-bottom: 50px;
  }

.appstore{
  background: url(../images/appstore.png) 0 top no-repeat;
  padding-top: 80px;
  height: 0;
  overflow: hidden;
  opacity: .8;
  -webkit-transition: all .2s ease-in-out;
  }

.android{
  background: url(../images/android.png) 0 top no-repeat;
  padding-top: 80px;
  height: 0;
  overflow: hidden;
  opacity: .8;
  -webkit-transition: all .2s ease-in-out;
  }

.appstore:hover{
  opacity: 1;
  }

.android:hover{
  opacity: 1;
  }

.footer{
  clear: both;
  margin-top: 80px;
  position: relative;
  }

.footer ul{
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 444;
  position: absolute;
  }

.footer ul li{
  margin: 0;
  list-style: none;
  float: left;
  }

.footer ul li a{
  padding: 10px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  opacity: .5;
  display: block;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out
  }
.footer ul li a:hover{
  /*
  -moz-box-shadow: inset 0 2px 0px rgba(255, 255, 255, .7), 0 2px 3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 0 2px 0px rgba(255, 255, 255, .7), 0 2px 3px rgba(0, 0, 0, 1);
  -box-shadow: inset 0 2px 0px rgba(255, 255, 255, .7), 0 2px 3px rgba(0, 0, 0, 1);
  text-shadow: 0 2px 0px rgba(255, 255, 255, .7);
  color: #000;
  background: url(../images/metal.png);
  */
  
  opacity: 1;
  }

.footer ul li.email{
  float: right;
  }

li.email a{
  height: 0;
  float: right;
  width: 0px;
  line-height: 3em;
  padding-top: 20px !important;
  overflow: hidden;
  background: url(../images/mail.png) 0 bottom no-repeat;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -box-shadow:none !important;
  }

.footerback{
  opacity: .3;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, .7), inset 0 -2px 1px rgba(0, 0, 0, .9);
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, .7), inset 0 -2px 1px rgba(0, 0, 0, .9);
  box-shadow: 0 1px 1px rgba(255, 255, 255, .7), inset 0 -2px 1px rgba(0, 0, 0, .9);
  background: #333;
  z-index: 333;
  width: 400px;
  height: 3em;
  }

.twitter{
  margin: 20px 0 62px;
  }

.facebook{
  margin: 10px 0 25px;
  }

.copyright{
  color: #ffe4b1;
  text-align: right;
  padding-top: 20px;
  opacity: .4;
  text-transform: uppercase;
  }


.free{
position: absolute;
padding-top: 130px;
overflow: hidden;
background: url(../images/free.png);
height: 0;
left: -10px;
width: 130px;
z-index: 9999999999;
top: -25px;
}


.try{
position: absolute;
padding-top: 200px;
overflow: hidden;
background: url(../images/try-blipme-wt.png);
height: 0;
right: 0;
width: 200px;
z-index: 9999999999;
}

.try-blip{
position: absolute;
padding-top: 200px;
overflow: hidden;
background: url(../images/try-blipme.png);
height: 0;
right: 0;
width: 200px;
z-index: 9999999999;
}

