.selected { background-color: green; }
.dependent { background-color: yellow; }
.secondHandDependencies { background-color: #7FFF00;}
.unexecuted { color: gray;}
.executed { color: black;}

.clearer { clear: both;}

#slicedSourceTextContainer
{
    width: 1000px;
    height: 800px;
}

.script > *
{
    color: black;
}
.style > *
{
    color: black;
}
.html
{
    color: #00008b;
}
.htmlTag
{
    color: blue;
}
.htmlAttributeName
{
    color: #00008b;
}
.htmlAttributeValue
{
    color: red;
}
.htmlContent
{
    color: black;
}
.cssSelector
{
    color: #00008b;
}
.cssCharset
{
    color: #5f9ea0;
    padding-left: 10px;
}
.cssRule
{
    color: black;
}

.BlockStatement > *
{
    margin-left: 10px;
}
.BlockStatement > .Bracket
{
    margin-left: 0px;
}

.Keyword, .keyword { color: #00008b;}

.identifier { font-weight: normal;}

.literal, .String, .RegExp { color: red; }

.String { color: red; }
.Number { color: #ff4500; }
.RegExp { color: red; }

.lineContainer {
    padding: 0 4px 0 6px;
    border-right: 2px solid #6CE26C;
    text-align: right;
    clear: both;
    float: left;
}
#codeHtmlContainer {
    padding-left: 10px;
    float: left;
}
.jsContainer
{
    padding-left: 10px;
}
.documentType
{
    color: #c3c4c2;
}
.cssContainer
{
    padding-left: 10px;
}
.cssRule
{
    padding-left: 10px;
}
#lineNumberContainer
{
    border-right: 2px solid #6CE26C;
    padding: 0 4px 0 6px;
    text-align: right;
    float: left;
    width: 20px;
}

body
{
    font-family: Consolas;
    font-size: 14px;
}

.Selected
{
    background-color: #c6ff61;
}

.active
{
    background-color: #c6ff61;
}

.dataDependency
{
    background-color: #5f9ea0;
}

.structuralDependency
{
    background-color: orange;
}

.hoverMenu
{
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 100;

    border: 1px solid black;
    background: #b8ff3f;
    font-size: 75%;
    padding: 8px;
    width: 230px;
}
#button1
{
    background: blue;
}
#button2
{
    background: orange;
}
#button3
{
    background: red;
}
#button4
{
    background: yellow;
}
.buttons
{
    width: 150px;
    height: 150px;
    background: #f5f5f5;
}
.hoverMenuButton
{
    margin: 10px;
    background: #f5f5f5;
    width: 50px;
    height: 50px;
}
.collapseButton
{
    float: left;
    position: relative;
    left: -8px;
    top: 2px;
    width: 12px;
    height: 12px;
    background-color: #5f9ea0;
}

.label
{
    color: black;
}

.indented
{
    padding-left: 10px;
}

.BlockStatement > *, .IfStatement > .BlockStatement
{
    margin-left: 10px;
}
.clearer { clear: both;}

.hasBeenIncluded
{
    font-weight: 900;
}

.hasNotBeenIncluded
{
    font-weight: 100;
}

.unexecuted { color: gray;}
.executed { color: black;}

.differs {
    background-color: red;
}