html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a img {
  border: none; }

@font-face {
  font-family: 'SyntaxBlack';
  src: url('../fonts/SyntaxLTStd-Black.eot');
  src: local('@'), local('@'), url('../fonts/SyntaxLTStd-Black.woff') format('woff'), url('../fonts/SyntaxLTStd-Black.ttf') format('truetype'), url('../fonts/SyntaxLTStd-Black.svg#SyntaxLTStd-Black') format('svg'); }

@font-face {
  font-family: 'SyntaxBold';
  src: url('../fonts/SyntaxLTStd-Bold.eot');
  src: local('@'), local('@'), url('../fonts/SyntaxLTStd-Bold.woff') format('woff'), url('../fonts/SyntaxLTStd-Bold.ttf') format('truetype'), url('../fonts/SyntaxLTStd-Bold.svg#SyntaxLTStd-Bold') format('svg'); }

body {
  margin: 0;
  padding: 0;
  font: 14px/20px Georgia, serif;
  color: #444444;
  background: #e9e9e9; }

h1, h2, h3, h4 {
  color: #222222;
  font-family: 'SyntaxBlack', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; }

h2 {
  position: absolute;
  top: -10px;
  left: 20px;
  z-index: 1; }
  h2 span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ie-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 10px 15px;
    color: #fff;
    font-family: 'SyntaxBold';
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    background: #ef0000;
  }

    .safari h2 span, .gecko h2 span {
      padding-top: 11px;
      padding-bottom: 9px; }

h3 {
  font-size: 18px;
  line-height: 20px;
  color: #444444; }

h4 {
  font-size: 18px;
  font-family: 'SyntaxBold'; }

em {
  font-style: italic; }

a {
  -webkit-transition-property: color, background-color, opacity, border-color;
  -webkit-transition-duration: .25s;
  color: #000; }
a:hover {
  color: #EF0000; }

a.visit {
  color: #c4c4c4;
  text-decoration: none;
  font-size: 16px; }
  a.visit img {
    position: relative;
    bottom: -6px;
    margin-right: 5px; }
  a.visit span {
    border-bottom: 2px solid #5f5f5f; }
  a.visit:hover {
    color: #222222; }

.container {
  position: relative;
  width: 940px;
  margin: 40px auto; }
  .container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .ie .container {
    zoom: 1; }

#wrapper {
  position: relative;
  padding: 30px 20px 20px 20px; }

#header {
  position: relative;
  height: 180px;
  width: 400px;
  margin: 0 auto;
  background: url(../images/header.png) no-repeat 50% 120px; }
  #header h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 190px;
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat 50% 50%; }
  #header p {
    position: absolute;
    top: 0;
    right: 0;
    margin: 40px 0;
    padding-left: 20px;
    text-align: left;
    color: #646464;
    border-left: 5px solid #e3e3e3; }
    #header p strong {
      display: block;
      font-family: 'SyntaxBold';
      font-size: 18px;
      color: #222222; }
      #header p strong span {
        color: #c4c4c4; }

#intro {
  width: 100%;
  height: 80px;
  margin: 30px -20px;
  padding: 15px 20px;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  background: url(../images/intro-bg.png) repeat-x left top; }
  #intro p {
    margin: 0 auto; }
  #intro:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .ie #intro {
    zoom: 1; }

#top {
  margin-bottom: 0; }

#news-article {
  display: none;
  opacity: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ie-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 280px;
  margin-left: -25px;
  z-index: 2;
  float: left;
  width: 20px;
  height: 20px;
  margin-top: -270px;
  padding: 20px 0 0 0;
  border: 10px solid #cfcfcf;
  background: #dfdfdf; }
  #news-article .arrow {
    position: absolute;
    top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #999; }
    #news-article .arrow:hover {
      color: #333; }
  #news-article .prev {
    left: 190px; }
  #news-article .next {
    right: 190px; }
  #news-article .close {
    opacity: .5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ie-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    outline: none;
    background: #444 url(../images/close.png) no-repeat 50% 6px; }
    #news-article .close:hover {
      opacity: 1; }
  #news-article .post {
    opacity: 0;
    height: 100%;
    padding: 0 10px; }
    #news-article .post em.date {
      display: block;
      text-align: center;
      font-size: 16px;
      color: #888; }
    #news-article .post h3 {
      margin: 10px 0 20px 0;
      padding: 0 10px; }
    .ie #news-article .post h3 {
      font-family: Georgia, serif; }
    #news-article .post .entry {
      height: 100%;
      padding: 0 10px;
      overflow: auto;
      font-size: 16px; }
      #news-article .post .entry img {
        max-width: 100%; }
      #news-article .post .entry p {
        margin: 0 0 20px 0; }
      #news-article .post .entry ul,
      #news-article .post .entry ol {
        margin-left: 20px; }
        #news-article .post .entry ul p,
        #news-article .post .entry ol p {
          margin: 10px 0; }
    

#expertise {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ie-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  float: left;
  width: 540px;
  margin-top: -270px;
  padding: 0;
  border: 10px solid #cfcfcf;
  background: #dfdfdf; }
  #expertise ol {
    list-style: none; }
    #expertise ol li {
      padding: 19px 20px;
      font-size: 16px;
      line-height: 20px;
      border-bottom: 1px solid #cfcfcf;
      border-top: 1px solid #e9e9e9; }
      #expertise ol li h3 {
        margin-bottom: 6px; }
      #expertise ol li p {
        color: #646464; }
    #expertise ol li.num1 {
      padding-top: 49px;
      border-top: none;
      background: url(../images/one.png) no-repeat right top; }
    #expertise ol li.num2 {
      background: url(../images/two.png) no-repeat right top; }
    #expertise ol li.num3 {
      background: url(../images/three.png) no-repeat right top; }

#news {
  position: relative;
  float: right;
  width: 360px;
  height: 240px;
  padding-top: 40px;
  margin-top: -40px;
  overflow: hidden; }
  #news .more {
    opacity: 0.5;
    filter: alpha(opacity= 50 );
    position: absolute;
    bottom: -50px;
    left: 50%;
    width: 58px;
    height: 20px;
    margin-left: -29px;
    text-indent: -9999px;
    outline: none;
    background: url(../images/more-news.png) no-repeat left top; }
    #news .more:hover {
      opacity: 1;
      filter: alpha(opacity= 100 ); }
    #news .more.back {
      background: url(../images/back-news.png) no-repeat left top; }
  #news .shade {
    position: absolute;
    left: 0;
    width: 100%; }
    #news .shade.bottom {
      bottom: 0;
      height: 60px;
      background: url(../images/news-shade.png) repeat-x left top; }
    #news .shade.top {
      top: 0;
      height: 40px;
      background: url(../images/news-shade-top.png) repeat-x left top; }
  #news ul {
    position: relative;
    list-style: none; }
    #news ul li {
      margin-bottom: 20px;
      padding-left: 65px;
      font-family: 'SyntaxBold'; }
      #news ul li a {
        text-decoration: none;
        color: #545454;
        font-size: 16px;
        border-bottom: 2px solid #e3e3e3; }
        #news ul li a span.date {
          -webkit-transition: all .25s;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -o-border-radius: 3px;
          -ie-border-radius: 3px;
          border-radius: 3px;
          float: left;
          width: 45px;
          padding: 2px 5px 0 5px;
          margin-left: -65px;
          text-align: center;
          font-size: 12px;
          color: #848484;
          white-space: nowrap;
          text-transform: uppercase;
          background: #dfdfdf; }
        #news ul li a:hover,
        #news ul li a.active {
          color: #222222;
          border-color: #cfcfcf; }
          #news ul li a:hover span.date,
          #news ul li a.active span.date {
            color: #fff;
            background-color: #ef0000; }
      #news ul li.thatsall {
        opacity: 0;
        filter: alpha(opacity= 0 );
        padding: 0;
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 20px;
        color: #c4c4c4;
        text-align: center; }

#people {
  position: relative;
  padding-top: 50px;
  background: url(../images/stripes.png) repeat-x left top; }
  #people #speechbubble {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ie-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: #444 0 0 10px;
    -moz-box-shadow: #444 0 0 10px;
    box-shadow: #444 0 0 10px;
    display: none;
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 30px;
    left: -20px;
    padding: 20px;
    width: 265px;
    font-size: 16px;
    background: #fff; }
    #people #speechbubble img {
      position: absolute;
      top: 50px;
      left: -30px; }
    #people #speechbubble strong {
      display: block;
      margin-bottom: 5px;
      font-family: 'SyntaxBold'; }
    #people #speechbubble .name {
      text-transform: capitalize; }
  #people img.tinylittle {
    position: absolute;
    top: 145px;
    right: -20px; }
  #people h2 {
    left: 50%;
    margin-left: -72px;
    padding: 0 10px;
    background: #e9e9e9; }
  #people ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background: url(../images/ampersand.png) no-repeat 160px 10px; }
    #people ul:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .ie #people ul {
      zoom: 1; }
    #people ul li {
      float: left;
      width: 313px;
      margin-bottom: 9px;
      padding-bottom: 9px;
      border-bottom: 2px solid #e3e3e3; }
      #people ul li .avatar {
        position: relative;
        float: left;
        width: 60px;
        height: 60px;
        border: 5px solid #cfcfcf;
        background: #dfdfdf; }
        #people ul li .avatar img {
          width: 100%;
          height: 100%;
          border: none; }
      #people ul li h4 {
        margin: 4px 0;
        padding: 0 0 0 85px;
        font-family: 'SyntaxBold'; }
      #people ul li p {
        margin: 0;
        padding: 0 0 0 85px;
        font-size: 14px;
        color: #646464;
        line-height: 20px; }
        #people ul li p a {
          color: #646464;
          text-decoration: none;
          border-bottom: 2px solid #e3e3e3; }
          #people ul li p a:hover {
            color: #444444;
            border-color: #cfcfcf; }
      #people ul li.row2 {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none; }

#bottom {
  position: relative;
  padding: 20px;
  margin: 0 -20px;
  border: 10px solid #444;
  border-width: 10px 0;
  background: #333; }
  #bottom:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .ie #bottom {
    zoom: 1; }
  #bottom .container {
    margin-top: 0;
    margin-bottom: 0; }

#portfolio {
  position: relative;
  float: right;
  width: 360px; }
  #portfolio h3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ie-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: color .25s;
    margin-left: -30px;
    padding: 10px 10px 10px 30px;
    color: #e9e9e9;
    font-family: 'SyntaxBold';
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    background: #444; }
    #portfolio h3.dimmed {
      color: #888; }
    .safari #portfolio h3, .gecko #portfolio h3 {
      padding-top: 11px;
      padding-bottom: 9px; }
  #portfolio ul.paginator {
    position: absolute;
    top: 11px;
    right: 15px;
    list-style: none; }
    #portfolio ul.paginator li {
      float: left;
      margin-left: 9px;
      padding-top: 2px; }
      #portfolio ul.paginator li a {
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -o-border-radius: 7px;
        -ie-border-radius: 7px;
        border-radius: 7px;
        display: block;
        width: 14px;
        height: 14px;
        text-indent: -9999px;
        outline: none;
        background: #666; }
        #portfolio ul.paginator li a:hover {
          background: #888; }
      #portfolio ul.paginator li.active {
        padding: 0; }
        #portfolio ul.paginator li.active a {
          -webkit-border-radius: 9px;
          -moz-border-radius: 9px;
          -o-border-radius: 9px;
          -ie-border-radius: 9px;
          border-radius: 9px;
          width: 18px;
          height: 18px;
          background: #ef0000; }
  #portfolio #portfolio-mask {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  #portfolio ul.projects {
    position: relative;
    left: 0;
    width: 2880px;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #c4c4c4; }
    #portfolio ul.projects li.project,
    #portfolio ul.projects li.index {
      float: left;
      width: 360px;
      height: 360px;
      overflow: hidden; }
      #portfolio ul.projects li.project:after,
      #portfolio ul.projects li.index:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .ie #portfolio ul.projects li.project,
      .ie #portfolio ul.projects li.index {
        zoom: 1; }
      #portfolio ul.projects li.project h4,
      #portfolio ul.projects li.index h4 {
        margin: 20px 0 15px 0;
        color: #e9e9e9; }
      #portfolio ul.projects li.project p,
      #portfolio ul.projects li.index p {
        margin: 0; }
      #portfolio ul.projects li.project.index,
      #portfolio ul.projects li.index.index {
        line-height: 25px;
        font-size: 18px;
        font-style: italic; }
        #portfolio ul.projects li.project.index p,
        #portfolio ul.projects li.index.index p {
          padding: 0;
          margin: 20px 0; }
        #portfolio ul.projects li.project.index ol,
        #portfolio ul.projects li.index.index ol {
          margin: 0 0 0 -10px;
          padding: 0;
          list-style: none; }
          #portfolio ul.projects li.project.index ol:after,
          #portfolio ul.projects li.index.index ol:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }
          .ie #portfolio ul.projects li.project.index ol,
          .ie #portfolio ul.projects li.index.index ol {
            zoom: 1; }
          #portfolio ul.projects li.project.index ol li,
          #portfolio ul.projects li.index.index ol li {
            float: left;
            width: 113px;
            margin: 0 0 10px 10px; }
            #portfolio ul.projects li.project.index ol li a,
            #portfolio ul.projects li.index.index ol li a {
              overflow: hidden;
              display: block;
              height: 80px;
              border: 5px solid #444;
              background: #444; }
              #portfolio ul.projects li.project.index ol li a img,
              #portfolio ul.projects li.index.index ol li a img {
                -webkit-transition: opacity .25s;
                width: 100%;
                opacity: 0.65;
                filter: alpha(opacity=65); }
              #portfolio ul.projects li.project.index ol li a:hover,
              #portfolio ul.projects li.index.index ol li a:hover {
                border-color: #666; }
                #portfolio ul.projects li.project.index ol li a:hover img,
                #portfolio ul.projects li.index.index ol li a:hover img {
                  opacity: 1;
                  filter: alpha(opacity=100); }

#contact {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ie-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  width: 880px;
  margin: 40px auto;
  padding: 20px;
  border: 10px solid #cfcfcf;
  background: #dfdfdf; }
  #contact:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .ie #contact {
    zoom: 1; }
  #contact .success {
    padding: 20px 0;
    text-align: center; }
    #contact .success h3 {
      font-size: 28px;
      color: #848484; }
  #contact .form .content {
    clear: both;
    float: left;
    width: 420px;
    margin: 0;
    padding: 5px 40px 0 0;
    font-size: 18px;
    line-height: 25px;
    color: #444444; }
    #contact .form .content p {
      margin-bottom: 20px; }
  #contact form {
    float: right;
    width: 420px; }
    #contact form p {
      position: relative;
      margin: 0 0 5px 0;
      padding: 0;
      line-height: 1; }
      #contact form p label {
        position: absolute;
        top: 8px;
        left: 11px;
        color: #949494;
        font-style: italic;
        font-size: 18px;
        line-height: 1; }
        #contact form p label.dimmed {
          opacity: 0.75;
          filter: alpha(opacity= 75 ); }
        .ie #contact form p label.dimmed {
          display: none; }
      #contact form p input {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ie-border-radius: 3px;
        border-radius: 3px;
        width: 400px;
        margin: 0;
        padding: 7px 10px;
        font-size: 18px;
        color: #444444;
        line-height: 1;
        font-family: Georgia, serif;
        border: none;
        background: #cfcfcf; }
      #contact form p textarea {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ie-border-radius: 3px;
        border-radius: 3px;
        width: 400px;
        height: 100px;
        padding: 7px 10px;
        margin: 0;
        color: #444444;
        font-size: 18px;
        line-height: 20px;
        font-family: Georgia, serif;
        border: none;
        background: #cfcfcf; }
        .ie #contact form p textarea {
          overflow: hidden; }
    #contact form p.textarea {
      height: 114px;
      margin: 0; }
      #contact form p.textarea a.submit {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ie-border-radius: 3px;
        border-radius: 3px;
        cursor: default;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 4px 12px 0 12px;
        line-height: 31px;
        font-size: 14px;
        font-family: 'SyntaxBlack';
        text-transform: uppercase;
        text-decoration: none;
        color: #e9e9e9;
        background: #aaaaaa; }
        #contact form p.textarea a.submit span {
          padding-right: 17px;
          background: url(../images/raquo-white.png) no-repeat 100% 1px; }
        #contact form p.textarea a.submit.active {
          cursor: pointer;
          background-color: #ef0000; }
        #contact form p.textarea a.submit.active:hover {
          color: #fff;
          background: #ff1010; }

#footer {
  position: relative;
  margin-bottom: 0;
  padding: 40px 0 0 0;
  line-height: 20px;
  text-align: center;
  color: #b4b4b4;
  background: url(../images/footer.png) no-repeat center top; }
  #footer a {
    color: #999;
    text-decoration: none;
    border-bottom: 2px solid #e3e3e3; }
    #footer a:hover {
      color: #444444;
      border-color: #cfcfcf; }
  #footer a.twitter {
    display: inline-block;
    padding-left: 22px;
    background: url(../images/bird.png) no-repeat 0 3px;
    line-height: 20px;
    text-decoration: none;
    border-bottom: none; }
    #footer a.twitter span {
      border-bottom: 2px solid #ccc; }
  #footer a.twitter:hover {
    background-position: 0 -17px; }
    #footer a.twitter:hover span {
      border-color: #999; }
  #footer img {
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -21px;
    background: #e9e9e9; }
    #footer img.interactive {
      display: none; }
  #footer ul {
    width: 400px;
    margin: 0 auto;
    list-style: none;
    background: url(../images/arrow-double.png) no-repeat 50% 4px; }
    #footer ul:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .ie #footer ul {
      zoom: 1; }
    #footer ul li {
      float: left;
      width: 160px;
      padding: 0 20px;
      text-align: left; }
      #footer ul li:first-child {
        text-align: right; }
  #footer p {
    clear: both;
    margin: 0; }

.corner {
  position: absolute;
  background: url(../images/corners.png) no-repeat left top; }
  #corner-top-left.corner {
    top: 20px;
    left: 20px;
    width: 160px;
    height: 160px; }
  #corner-top-right.corner {
    top: 20px;
    right: 20px;
    width: 160px;
    height: 160px;
    background-position: 0 -160px; }
  #corner-bottom-left.corner {
    bottom: 20px;
    left: 20px;
    width: 120px;
    height: 100px;
    background-position: 0 -320px; }
  #corner-bottom-right.corner {
    bottom: 20px;
    right: 20px;
    width: 120px;
    height: 100px;
    background-position: 0 -430px; }