body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
    /* Simple page reset */
    margin:0px;
    padding:0px;
}

body{
    /* Setting default text color, background and a font stack */
    color:#cccccc;
    font-size:13px;
    background: #302b23;
    font-family:Arial, Helvetica, sans-serif;
}

ul{
    margin:0;
    padding:0;
}

ul.container{
    /* The topmost UL */
    width:240px;
    margin:0 auto;
    padding:50px;
}

li{
    list-style:none;
    text-align:left;
}

li.menu{
    /* The main list elements */
    padding:5px 0;
    width:100%;
}

li.button a{
    /* The section titles */
    display:block;
    font-family:BPreplay,Arial,Helvetica,sans-serif;
    font-size:21px;
    height:34px;
    overflow:hidden;
    padding:10px 20px 0;
    position:relative;
    width:200px;
}

li.button a:hover{
    /* Removing the inherited underline from the titles */
    text-decoration:none;
}

li.button a span{
    /* This span acts as the right part of the section's background */
    height:44px;
    position:absolute;
    right:0;
    top:0;
    width:4px;
    display:block;
}

/* Setting up different styles for each section color */

li.button a.blue{background:url(../img/blue.png) repeat-x top left; color:#074384;}
li.button a.blue span{ background:url(../img/blue.png) repeat-x top right;}

li.button a.green{background:url(../img/green.png) repeat-x top left; color:#436800;}
li.button a.green span{ background:url(../img/green.png) repeat-x top right;}

li.button a.orange{background:url(../img/orange.png) repeat-x top left; color:#882e02;}
li.button a.orange span{ background:url(../img/orange.png) repeat-x top right;}

li.button a.red{background:url(../img/red.png) repeat-x top left; color:#641603;}
li.button a.red span{ background:url(../img/red.png) repeat-x top right;}

/* The hover effects */

li.button a:hover{ background-position:bottom left;}
li.button a:hover span{ background-position:bottom right;}

.dropdown{
    /* The expandable lists */
    display:none;
    padding-top:5px;
    width:100%;
}

.dropdown li{
    /* Each element in the expandable list */
    background-color:#373128;
    border:1px solid #40392C;
    color:#CCCCCC;
    margin:5px 0;
    padding:4px 18px;
}


/* The styles below are only necessary for the demo page */

h1{
    font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
    font-size:36px;
    font-weight:normal;
    margin-bottom:15px;
}

h2{
    font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
    font-size:12px;
    font-weight:normal;
    right:0;
    text-align:center;
    text-transform:uppercase;
    top:15px;
}

.clear{
    clear:both;
}

#main{
    /* The main container */
    margin:15px auto;
    text-align:center;
    width:920px;
    position:relative;
}

a, a:visited {
    color:#0196e3;
    text-decoration:none;
    outline:none;
}

a:hover{
    text-decoration:underline;
}

p{
    /* The tut info on the bottom of the page */
    padding:10px;
    text-align:center;
}