#awwwards{
    position:absolute;
    top:20px;
    right:0px;
    z-index:555;
}
#awwwards a{
    width:69px;
    height:105px;
    text-indent:-8000px;
    display:block;
    background:url(../images/awwwards_nominee_w_right.png) no-repeat;
    overflow:hidden;
    border:0px;
}